/** Typography **/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/** Colors **/
:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
}

/** Default Desktop Version **/
html {
  height: 100%;
}

body {
  align-items: center;
  background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
  display: flex;
  height: 99%;
  font-family: 'Kumbh Sans', sans-serif;
  justify-content: center;
}

h1 {
  color: var(--very-dark-desaturated-blue);
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}

h4 {
  color: var(--very-dark-grayish-blue);
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

p {
  color: var(--dark-grayish-blue);
  display: none;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
}